extends layout

block content
  div(data-role='header', data-position='fixed', data-theme='b', data-id='myHeader')
    h1= title
  div	
    p(class='userId', hidden) #{userId}
    script(type='text/javascript')
      setTimeout(function(){
        window.location = completeUrl('/' + $('.userId').html() + '/history', localStorage.getItem('CMPHASH'));
      }, 3000);
  div(class='centered')
    if decision == 'Approve'
      h2 Promotion Approved!
    else
      h2 Promotion Rejected!
    - var historyUrl = '/' + userId + '/history'
    p You will be redirected to the History screen in 3 seconds.
  include footer