doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css')
    link(rel='stylesheet', href='/stylesheets/ios.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.8.2.min.js')
    script(type='text/javascript', src='http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js')
    script(type='text/javascript', src='/javascripts/sha512.js')
    script(type='text/javascript', src='/javascripts/jsuri-1.1.1.js')
    script(type='text/javascript', src='/javascripts/utils.js')
    script(type='text/javascript')
      $(function(){
        $('.validate').click(function(){
          var uta = new MyUtils();
          var url = new Uri(this.href).setProtocol('').setHost('').setPort('').toString();
          var link = uta.completeUrl(url, localStorage.getItem('CMPHASH'));
          //$('.error').html(link);
          //window.location = link;
          $('.error').html(localStorage.getItem('CMPHASH'));
          return false; 
        });
      });
  body	
    div(data-role='page')
      block content