extends layout

block content
  div(data-role='header', data-position='fixed', data-theme='b', data-id='myHeader')
    h1= title
  script(type='text/javascript')
    document.ready(function(){
      if (typeof(Storage) !== 'undefined' && localStorage.hasOwnProperty('CMPHASH'))
        localStorage.removeItem('CMPHASH');
      //setTimeout(function(){
      //  window.location = '/' + $('.userId').text() + '/login';
      //}, 5000);
    });
  div
    h2(class='centered') You have successfully logged out.
    - var loginUrl = '/' + userId + '/login'
    a(class='centered', href=loginUrl) Click here or be automatically redirected in five seconds.
  include footer