extends layout

block content
  div(data-role='header', data-position='fixed', data-theme='b', data-id='myHeader')
    h1= title
  p(class='userId', hidden) #{userId}
  script(type='text/javascript')
    if (typeof(Storage) !== 'undefined' && localStorage.hasOwnProperty('CMPHASH')){
      localStorage.setItem('CMPHASH', null);
      localStorage.removeItem('CMPHASH');
    }
    setTimeout(function(){
      window.location = '/' + $('.userId').html() + '/login';
    }, 5000);
  div(class='centered')
    h2 You have successfully logged out.
    - var loginUrl = '/' + userId + '/login'
    a(href=loginUrl) Click here or be automatically redirected in five seconds.
  include footer