body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}
th {
  background-color: #646464;
  color: #fff;
}
.odd {
  background-color: #dcdcdc;
}
.even {
  background-color: #b4b4b4;
}
td.promolist {
  word-wrap: break-words;
  text-align: center;
}
a {
  text-decoration: none;
}
.linked {
  text-decoration: none;
  color: #000;
}
p.filename {
  word-wrap: break-word;
}
