body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}
table.promolist {
  width: 100%;
}
th {
  background-color: #646464;
  color: #fff;
}
.odd {
  background-color: #dcdcdc;
}
.even {
  background-color: #b4b4b4;
}
td.promolist {
  word-wrap: break-words;
  text-align: center;
}
td.firstcol {
  width: 66%;
}
td.secondcol {
  width: 33%;
}
a {
  text-decoration: none;
}
.linked {
  text-decoration: none;
  color: #000;
}
.filename {
  word-wrap: break-word;
}
.centered {
  text-align: center;
}
.error {
  text-align: center;
  font: 16px "Lucida Grande", Helvetica, Arial, san-serif;
  color: #f00;
}
