body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding: 50px
th
  background-color: rgba(100, 100, 100, 100)
  color: white
.odd
  background-color: rgba(220, 220, 220, 200)
.even
  background-color: rgba(180, 180, 180, 200)
td.promolist
  word-wrap: break-words
  text-align: center
a
  text-decoration: none
.linked
  text-decoration: none
  color: black
.filename
  word-wrap: break-word
.centered
  text-align: center
.error
  text-align: center
  font: 16px "Lucida Grande", Helvetica, Arial, san-serif
  color: red
.pagecontainer
  display: none

